*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
table{
    border-collapse: collapse;
    margin-top: 50px;
    margin-left: 150px;
}
h1{
    margin-left: 350px;
    margin-top: 30px;
}
th:nth-child(){
    background-color: slategrey;
}
td,th{
    border: solid 1px black;
    padding: 30px;
    text-align: center;
}
button{
    border-radius: 8px;
    background-color: rgba(0, 255, 255, 0.74);
    border-bottom: solid 5px rgba(14, 216, 243, 0.74);
    width: 100px;
    height: 50px;
    text-align: center;
    
}
