*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
table{
    border-collapse: collapse;
    margin-top: 50px;
    margin-left: 150px;
}
h1{
    margin-left: 350px;
    margin-top: 30px;
}
th:nth-child(){
    background-color: slategrey;
}
td,th{
    border: solid 1px black;
    padding: 30px;
    text-align: center;
}
button{
    border-radius: 8px black;
    background-color: aqua;
    border-bottom: solid 4px black;
    width: 30px;
}
